alabaster==0.7.16
appdirs==1.4.4
astunparse==1.6.3
autograd==1.8.0
autoray==0.8.0
babel==2.17.0
cachetools==6.1.0
certifi==2025.7.14
charset-normalizer==3.4.2
diastatic-malt==2.15.2
docutils==0.20
gast==0.6.0
idna==3.10
imagesize==1.4.1
importlib-resources==6.5.2
jinja2==3.1.6
markupsafe==3.0.2
networkx==3.5
numpy==2.3.2
packaging==25.0
pillow==11.3.0
pygments==2.19.2
requests==2.32.4
rustworkx==0.16.0
scipy==1.16.1
scipy-openblas32==0.3.30.0.2
six==1.17.0
snowballstemmer==3.0.1
sphinx==8.1
sphinx-automodapi==0.19
sphinx-gallery==0.16.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.0.6
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
termcolor==3.1.0
tomlkit==0.13.3
typing-extensions==4.14.1
urllib3==2.5.0
wheel==0.45.1

# do not pin
pennylane-sphinx-theme
pennylane @ git+https://github.com/PennyLaneAI/pennylane.git@master
